<div class="container">
    <div class="row text-center">
        <h1>Ошибка</h1>
    </div>

    <div class="row text-center">
        <h3>@ViewBag.ErrorText</h3>
    </div>

    <div class="row text-center">
        <a href="@ViewBag.ReturnUrl" class="btn btn-sm btn-success">Понять и простить</a>
    </div>
</div>
